* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: rgb(60,60,60);
	line-height: 1.4em;
	letter-spacing: 0.03em;
}

html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
	font-family: 'Ubuntu';
	font-weight: 100;
	font-size: 62.5%;
}

/********/
/* PAGE */
/********/

section {
	display: none;
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 640px;
	padding: 10rem 15%;
}

section.active {
	display: block;
}


/*******************/
/* INLINE ELEMENTS */
/*******************/

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
p, a {
	font-size: 1.4rem;
}

section a {
	display: block;
	float: left;
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	border-radius: 0.3rem;
	overflow: hidden;
	width: 100%;
	margin: 1vh 0;
}

a:hover {
	cursor: pointer;
}
section div {
	display: block;
	width: 40%;
	height: 10vw;
	background-size: cover;
	background-position: center;
	float: left;
}
section ul {
	float: left;
	padding: 2vw;
}
section li {
	display: block;
	font-weight: 600;
}
section p {
	display: inline-block;
	margin-left: 1rem;
	font-weight: 100;
	line-height: 1.5;
}

/*******/
/* NAV */
/*******/

nav {
	display: block;
	position: fixed;
	width: 100%;
	height: min-content;
	background-color: rgb(255,255,255);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	z-index: 99;
}
nav ul {
	position: relative;
	height: min-content;
	padding: 0 15%;
}
nav li {
	display: inline-block;
	position: relative;
}
nav a {
	display: block;
	padding: 0 1rem;
	line-height: 6rem;
	transition: all 175ms ease;
}
nav a:hover {
	color: rgb(250,90,60);
}
nav a:after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 1px;
	left: 50%;
	bottom: 0;
	background-color: rgb(250,90,60);
	transition: all 175ms ease;
}
nav a:hover:after {
	width: calc(100% - 2rem);
	left: 1rem;
}














