* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: rgb(60,60,60);
	line-height: 1.4em;
	letter-spacing: 0.03em;
}

html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
	font-family: 'Ubuntu';
	font-weight: 100;
	font-size: 62.5%;
}

body {
	height: 100%;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

/********/
/* PAGE */
/********/

section {
	display: none;
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 640px;
	padding: 10rem 15%;
}

section.active {
	display: block;
}


/*******************/
/* INLINE ELEMENTS */
/*******************/

h1, a, #detail p {
	color: rgb(255,255,255);
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	display: inline-block;
	font-weight: 400;
}
p, li {
	font-size: 1.4rem;
}
img {
	border-radius: 0.4rem;
}
a:hover {
	cursor: pointer;
}

/*************/
/* MAIN PAGE */
/*************/

section:first-of-type a {
	display: block;
	float: left;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	border-radius: 0.4rem;
	overflow: hidden;
	height: 10vw;
	width: 100%;
	margin: 0.5vw 0;
	transition: all 300ms ease-out 30ms;
}
section div {
	display: block;
	float: left;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-position: center 25%;
	border-top-left-radius: 0.4rem;
	border-bottom-left-radius: 0.4rem;
}
section:first-of-type a:hover {
	transform: scale(1.02);
	transition: all 120ms ease-out;
}
section:first-of-type ul {
	float: left;
	padding: 2vw;
}
/*section:first-of-type a:hover {
	height: 11vw;
	margin: 0.5vw 0;
	width: 102%;
	margin-left: -1%;
}
section:first-of-type a:hover ul {
	padding-top: 2.5vw;
}
*/
section li {
	display: block;
	font-weight: 600;
}
section p {
	display: inline-block;
	margin-left: 1rem;
	font-weight: 100;
	line-height: 1.5;
}






/*******/
/* NAV */
/*******/

nav {
	display: block;
	position: fixed;
	width: 100%;
	height: min-content;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	z-index: 99;
}
nav ul {
	position: relative;
	height: min-content;
	padding: 0 15%;
}
nav li {
	display: inline-block;
	position: relative;
}
nav a {
	display: block;
	padding: 0 1rem;
	line-height: 6rem;
	transition: all 175ms ease;
}
nav a:hover {
	color: rgb(160,100,200);
}
nav a:after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 2px;
	left: 50%;
	bottom: 0;
	background-color: rgb(140,60,160);
	transition: all 175ms ease;
}
nav a:hover:after {
	width: calc(100% - 2rem);
	left: 1rem;
}



/***************/
/* DETAIL PAGE */
/***************/

#detail img {
	position: absolute;
	width: 70%;
}
#detail header {
	margin-bottom: 0.8rem;
}
#detail ul {
	position: relative;
	padding: 1rem;
	z-index: 10;
}
#detail ul li, #detail ul p {
	color: rgb(255,255,255);
}


/*********/
/* ERROR */
/*********/

#errorMessage {
	display: flex;
	width: 100%;
	border-left: 2px solid rgb(240,100,60);
	background-color: rgba(240,100,60,0.1);
	font-size: 1.4rem;
	padding: 1rem;
}
#errorMessage img {
	display: block;
	float: left;
	height: 160px;
	width: auto;
}
#errorMessage article {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}
#errorMessage p {
	margin: 0;
	display: block;
	float: left;
}
#errorMessage a {
	padding: 0.5rem 1rem;
	width: min-content;
	white-space: nowrap;
	background-color: rgb(255,255,255);
}













